logs
target
backup
npm-debug.log
.DS_Store
/.sbtserver
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.tscache
/.sass-cache
/.metals
.bloop
/RUNNING_PID
/project/.sbtserver
/project/.sbtserver.lock
/tmp
/public/css
/public/js


/ui/build
/ui/dist
/ui/vendor
/ui/node_modules
/ui/.tscache
/ui/.sass-cache

vue_form/dist
