//------------------------------------------------------------------------------
// This file is part of the Nextbeat services.
//
// For the full copyright and license information,
// please view the LICENSE file that was distributed with this source code.
//------------------------------------------------------------------------------

#site-app-new-user-form {

  //-- [ レイアウト ] ----------------------------------------------------------
  &.content {
    border: 1px solid map-get($mat-grey, 200);
  }

  //-- [ 要素定義 ] ------------------------------------------------------------
  //- 見出し
  .content__section.header {
    padding:    $space-size-medium;
    background: map-get($mat-grey, 100);
    text-align: center;
    .header__title {
      font-size:   $font-size-medium;
      font-weight: bold;
    }
  }
  //-- [ 要素定義 ] ------------------------------------------------------------
  //- フォーム
  .content__section.form {
    width:  $container-width;
    margin: $space-size-xlarge auto;

    //- 共通: ラベル
    .form__section dt > label {
      display:       inline-block;
      font-weight:   bold;
      margin-bottom: $space-size-micro;
    }

    //- 名前
    .form__section.name-container {
      width:        500px;
      display:      table;
      table-layout: fixed;
      .form__section.name {
        padding: 0 $space-size-small / 2;
        display: table-cell;
        &:first-child { padding-left:  0; }
        &:last-child  { padding-right: 0; }
      }
      .form__section.name input {
        width: 100%;
      }
    }
    //- メールアドレス
    .form__section.email input {
      width: 460px;
    }
    //- 住所: 詳細
    .form__section.address input {
      width: 100%;
    }
    //- 登録ボタン
    .form__section.submit {
      margin-top: $space-size-xlarge;
      text-align: center;
    }
  }

  .section-link-register {
    text-align:      center;
    height:          60px;
    line-height:     60px;
    text-decoration: underline;
  }
}
