//------------------------------------------------------------------------------
// This file is part of the Nextbeat services.
//
// For the full copyright and license information,
// please view the LICENSE file that was distributed with this source code.
//------------------------------------------------------------------------------

#site-recruit-internship-for-summer-21-flow {

  //-- [ 要素定義 ] ------------------------------------------------------------
  //- タイトル
  .content__section.title {
    padding-top:    $space-size-large;
    padding-bottom: $space-size-xlarge;
    text-align:     center;
    .title__section.main {
      margin:      0;
      color:       $accent-color;
      font-size:   $font-size-h3;
      font-family: $font-family-roboot;
      font-weight: bold;
      font-style:  italic;
    }
    .title__section.sub {
      font-size:   $font-size-h3-ruby;
      font-weight: bold;
    }
  }

  //-- [ 要素定義 ] ------------------------------------------------------------
  //- フロー
  .content__section.flow {
    padding:       0 80px;
    text-align:    center;
    margin-bottom: $space-size-xlarge;
    //- レイアウト
    .data-list__inner {
      margin:     0;
      padding:    0;
      list-style: none;
    }
    //- フロー: アイテム
    .flow__content {
      padding:     $space-size-large 0;
      font-size:   $font-size-medium;
      font-weight: bold;
      white-space: nowrap;
    }
    //- フロー: デザイン共通
    .data-list__item {
      width:   220px;
      display: inline-block;
    }
    //- フロー: デザイン1
    .data-list__item:not(:last-child) {
      margin-right:  $space-size-base;
      padding-right: 40px;
      background:    #f1f1f1;
      position:      relative;
      box-sizing:    border-box;
      overflow:      hidden;
      &:before {
        top:       -50px;
        right:     -50px;
        width:      90px;
        height:     90px;
        content:    "";
        position:   absolute;
        transform:  rotate(60deg);
        background: white;
      }
      &:after {
        bottom:    -50px;
        right:     -50px;
        width:      90px;
        height:     90px;
        content:    "";
        position:   absolute;
        transform:  rotate(-60deg);
        background: white;
      }
    }
    //- フロー: デザイン2
    .data-list__item:last-child {
      background: #d7d7d7;
      overflow:   hidden;
    }
  }

  //-- [ 要素定義 ] ------------------------------------------------------------
  //- ガイド
  .content__section.guide {
    font-size:     $font-size-medium;
    text-align:    center;
    margin-top:    $space-size-large;
    margin-bottom: $space-size-large * 2;
  }

  //-- [ 要素定義 ] ------------------------------------------------------------
  //- エントリーボタン
  .content__secion.action {
    padding-top:    $space-size-large;
    padding-bottom: $space-size-xlarge;
    text-align:     center;
    background:     black;
    .action__message {
      font-size:      30px;
      font-style:     italic;
      font-weight:    bold;
      font-family:    $font-family-roboot;
      color:          white;
      letter-spacing: 4px;
      margin-bottom:  $space-size-medium;
    }
    .button.action__to-entry {
      width:      360px;
      height:     80px;
      border:     0;
      background: $accent-color;
      .button__title {
        font-size:      $font-size-2xlarge;
        font-weight:    bold;
        font-style:     italic;
        font-family:    $font-family-roboot;
        letter-spacing: 3px;
      }
    }
  }
}
