//------------------------------------------------------------------------------
// This file is part of the Nextbeat services.
//
// For the full copyright and license information,
// please view the LICENSE file that was distributed with this source code.
//------------------------------------------------------------------------------

// Font size : Header
$font-size-h2:      24px;
$font-size-h3:      36px;
$font-size-h3-ruby: 14px;
$font-size-h4:      18px;

// Color
$accent-color: #e14f2f;

@import '_01_main-visual';
@import '_02_experience';
@import '_03_mentor';
@import '_04_summary';
@import '_05_flow';


