//------------------------------------------------------------------------------
// This file is part of the Nextbeat service.
//
// For the full copyright and license information,
// please view the LICENSE file that was distributed with this source code.
//------------------------------------------------------------------------------

$mat-orange: (
  50:   #fff3e0,
  100:  #ffe0b2,
  200:  #ffcc80,
  300:  #ffb74d,
  400:  #ffa726,
  500:  #ff9800,
  600:  #fb8c00,
  700:  #f57c00,
  800:  #ef6c00,
  900:  #e65100,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
  contrast: (
    50:   $dark-primary-text,
    100:  $dark-primary-text,
    200:  $dark-primary-text,
    300:  $dark-primary-text,
    400:  $dark-primary-text,
    500:  $dark-primary-text,
    600:  $dark-primary-text,
    700:  $dark-primary-text,
    800:  $light-primary-text,
    900:  $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: black,
  )
);

