//------------------------------------------------------------------------------
// This file is part of the Nextbeat service.
//
// For the full copyright and license information,
// please view the LICENSE file that was distributed with this source code.
//------------------------------------------------------------------------------

$mat-light-blue: (
  50:   #e1f5fe,
  100:  #b3e5fc,
  200:  #81d4fa,
  300:  #4fc3f7,
  400:  #29b6f6,
  500:  #03a9f4,
  600:  #039be5,
  700:  #0288d1,
  800:  #0277bd,
  900:  #01579b,
  A100: #80d8ff,
  A200: #40c4ff,
  A400: #00b0ff,
  A700: #0091ea,
  contrast: (
    50:   $dark-primary-text,
    100:  $dark-primary-text,
    200:  $dark-primary-text,
    300:  $dark-primary-text,
    400:  $dark-primary-text,
    500:  $light-primary-text,
    600:  $light-primary-text,
    700:  $light-primary-text,
    800:  $light-primary-text,
    900:  $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);


