//------------------------------------------------------------------------------
// This file is part of the Nextbeat service.
//
// For the full copyright and license information,
// please view the LICENSE file that was distributed with this source code.
//------------------------------------------------------------------------------

$mat-cyan: (
  50:   #e0f7fa,
  100:  #b2ebf2,
  200:  #80deea,
  300:  #4dd0e1,
  400:  #26c6da,
  500:  #00bcd4,
  600:  #00acc1,
  700:  #0097a7,
  800:  #00838f,
  900:  #006064,
  A100: #84ffff,
  A200: #18ffff,
  A400: #00e5ff,
  A700: #00b8d4,
  contrast: (
    50:   $dark-primary-text,
    100:  $dark-primary-text,
    200:  $dark-primary-text,
    300:  $dark-primary-text,
    400:  $dark-primary-text,
    500:  $light-primary-text,
    600:  $light-primary-text,
    700:  $light-primary-text,
    800:  $light-primary-text,
    900:  $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

