//------------------------------------------------------------------------------
// This file is part of the OMOTENASHI service.
//
// For the full copyright and license information,
// please view the LICENSE file that was distributed with this source code.
//------------------------------------------------------------------------------

$mat-brown: (
  50:   #efebe9,
  100:  #d7ccc8,
  200:  #bcaaa4,
  300:  #a1887f,
  400:  #8d6e63,
  500:  #795548,
  600:  #6d4c41,
  700:  #5d4037,
  800:  #4e342e,
  900:  #3e2723,
  A100: #d7ccc8,
  A200: #bcaaa4,
  A400: #8d6e63,
  A700: #5d4037,
  contrast: (
    50:   $dark-primary-text,
    100:  $dark-primary-text,
    200:  $dark-primary-text,
    300:  $light-primary-text,
    400:  $light-primary-text,
    500:  $light-primary-text,
    600:  $light-primary-text,
    700:  $light-primary-text,
    800:  $light-primary-text,
    900:  $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

