//------------------------------------------------------------------------------
// This file is part of the Nextbeat service.
//
// For the full copyright and license information,
// please view the LICENSE file that was distributed with this source code.
//------------------------------------------------------------------------------

$mat-blue: (
  50:   #e3f2fd,
  100:  #bbdefb,
  200:  #90caf9,
  300:  #64b5f6,
  400:  #42a5f5,
  500:  #2196f3,
  600:  #1e88e5,
  700:  #1976d2,
  800:  #1565c0,
  900:  #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50:   $dark-primary-text,
    100:  $dark-primary-text,
    200:  $dark-primary-text,
    300:  $dark-primary-text,
    400:  $dark-primary-text,
    500:  $light-primary-text,
    600:  $light-primary-text,
    700:  $light-primary-text,
    800:  $light-primary-text,
    900:  $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

