//------------------------------------------------------------------------------
// This file is part of the Nextbeat service.
//
// For the full copyright and license information,
// please view the LICENSE file that was distributed with this source code.
//------------------------------------------------------------------------------

$mat-yellow: (
  50:   #fffde7,
  100:  #fff9c4,
  200:  #fff59d,
  300:  #fff176,
  400:  #ffee58,
  500:  #ffeb3b,
  600:  #fdd835,
  700:  #fbc02d,
  800:  #f9a825,
  900:  #f57f17,
  A100: #ffff8d,
  A200: #ffff00,
  A400: #ffea00,
  A700: #ffd600,
  contrast: (
    50:   $dark-primary-text,
    100:  $dark-primary-text,
    200:  $dark-primary-text,
    300:  $dark-primary-text,
    400:  $dark-primary-text,
    500:  $dark-primary-text,
    600:  $dark-primary-text,
    700:  $dark-primary-text,
    800:  $dark-primary-text,
    900:  $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

