@*
 * This file is part of the Nextbeat services.
 *
 * For the full copyright and license information,
 * please view the LICENSE file that was distributed with this source code.
 *@

@(vv: model.component.util.ViewValuePageLayout)(implicit messages: play.api.i18n.Messages)
<header id="nav-global" class="nav-global-simple content">
  <div class="content__inner">
    @** ロゴ *@
    <h1 class="content__section logo">
      <a class="logo__inner" href="/">
        @views.html.common.component.image.ResponsiveImage(
          alt     = vv.messages("_image-service-logo"),
          path    = "common/logo.png",
          classes = "logo__image",
          maxSize = 1
        )
      </a>
    </h1>
    <div class="menu">
      <a class="menu__item" href="@controllers.app.routes.AuthController.login()">ログイン</a>
    </div>
  </div>
</header>
