//------------------------------------------------------------------------------
// This file is part of the Nextbeat services.
//
// For the full copyright and license information,
// please view the LICENSE file that was distributed with this source code.
//------------------------------------------------------------------------------

// Font size
$font-size-base-px: 14px;
$letter-spacing:    0.05em;

// Font size
$font-size-none:            0rem;
$font-size-nano:          1.0rem * (10px / $font-size-base-px);
$font-size-micro:         1.0rem * (12px / $font-size-base-px);
$font-size-small:         1.0rem * (13px / $font-size-base-px);
$font-size-base:          1.0rem;
$font-size-medium:        1.0rem * (16px / $font-size-base-px);
$font-size-large:         1.0rem * (18px / $font-size-base-px);
$font-size-xlarge:        1.0rem * (20px / $font-size-base-px);
$font-size-2xlarge:       1.0rem * (24px / $font-size-base-px);

// Line height rate
$line-height-rate-micro:  1.4;
$line-height-rate-small:  1.5;
$line-height-rate-base:   1.6;
$line-height-rate-medium: 1.7;
$line-height-rate-large:  1.8;

// border radisu
$border-radius-base: 3px;

// Mergin & Padding size
$space-size-xlarge: 50px;
$space-size-large:  40px;
$space-size-medium: 30px;
$space-size-base:   20px;
$space-size-small:  15px;
$space-size-micro:  10px;

// Layout
$content-width:     1120px;
$container-width:   660px;
$globalnav-height:  80px;
$sidenav-width:     240px;
